@font-face {
    font-family: "BeaufortforLOL-Bold";
    src: url("fonts/BeaufortforLOL-Bold.otf") format("opentype");
}

@font-face {
    font-family: "BeaufortforLOL-Regular";
    src: url("fonts/BeaufortforLOL-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Univers";
    src: url("fonts/UniversLTCYR-55Roman.otf") format("opentype");
}

@font-face {
    font-family: "Univers-Cond";
    src: url("fonts/UniversLTCYR-59UltCond.otf") format("opentype");
}

.btn-lor {
    color:#C6B7A0;
    padding: 6px;
    margin-bottom: 0;
    font-family: "Univers-Cond";
  }
  .btn-lor-left {
    background-image: url("buttons/button-left-unselected.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-middle {
    background-image: url("buttons/button-middle-unselected.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-right {
    background-image: url("buttons/button-right-unselected.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-left:hover {
    background-image: url("buttons/button-left-hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-middle:hover {
    background-image: url("buttons/button-middle-hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-right:hover {
    background-image: url("buttons/button-right-hover.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-left-active {
    background-image: url("buttons/button-left-selected.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-middle-active {
    background-image: url("buttons/button-middle-selected.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }
  .btn-lor-right-active {
    background-image: url("buttons/button-right-selected.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 33.3%;
  }

  .btn-group {
    width: 100%; 
    background-image: url('./images/full-brown.png'); 
    margin-bottom: 0;
  }

  .btn-minimize {
    height: 20px;
    width: 20px;
    -webkit-app-region: no-drag; 
    z-index: 100; 
    position: absolute; 
    top:8px; 
    right: 8px;
  }

  .top {
    -webkit-app-region:drag; 
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0; 
    z-index: 0;
    width: 100%;
    height: 40px;
  }

  .top-container {
    overflow: hidden; 
    position: absolute;
  }

  .full-card {
    width: 340; 
    height: 512;
  }


  .regionPicture {
    height: 50px;
    width: 50px;
}

.champPicture {
    height: 20px;
    width: 20px;
    margin: 2px;
}

.deck-preview {
    height:50px;
}

.col-champ {
    height:50px;
    width: 25px;
    display:grid;
}

.no-margin {
    margin: 0;
}

.no-padding {
  padding: 0;
}

.history-tab {
  min-width: 495px;
}

.full {
  height: 100%;
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}



  ::-webkit-scrollbar {
    display: none;
  }

  body {
      overflow: hidden;
      background: none !important;
      margin: 0;
  }

  #cardContents {
    display: block;
    margin:0;
    width:100%;
  }

  #main {
      width: 173px;
      height: 72px;
      -webkit-app-region:drag; 
      display:block; 
      margin-left: auto; 
      margin-right: auto; 
      padding: 0; 
      z-index: 0; 
      position: relative;
  }

  #regionP {
    width: 173px;
    height: 20px;
    -webkit-app-region:drag; 
    display:block; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 0; 
    margin-top:-28px; 
    margin-bottom: 0;
    position: relative; 
    z-index: 1;
  }

  #brown {
      width: 173px;
      height: 20px;
      display:block; 
      margin-left: auto; 
      margin-right: auto; 
      padding: 0; 
      position: relative; 
      z-index: -2;
  }

  #botStats {
      width: 173px;
      height:90px;
      display:block; 
      margin-left: auto; 
      margin-right: auto; 
      padding: 0; 
      margin-top:-22px; 
      z-index: -1; 
      position: relative;
  }


  .flex-2 {
    display: flex;
    flex-direction: column;
  }

  .flex-2-child {
    flex:1;
    flex-direction: column;
  }

  .win {
    background-color: #B7E1CD;
  }
  
  .loss {
    background-color: #F4C7C3;
  }
  
  .clickable:hover {
    background-color: lightblue;
    cursor: pointer;
  }



  .modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
    width: 750px;
    max-width: 750px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 15px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: 0px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}
        
/*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}


  .list-group.list-group-root {
    padding: 0;
    overflow: hidden;
  }
  
  .list-group.list-group-root .list-group {
    margin-bottom: 0;
  }
  
  .list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
  }
  
  .list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
  }
  
  .list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
  }
  
  .list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
  }
  
  .list-group-item .glyphicon {
    margin-right: 5px;
  }