@font-face {
    font-family: "BeaufortforLOL-Bold";
    src: url("./fonts/BeaufortforLOL-Bold.otf") format("opentype");
}

@font-face {
    font-family: "BeaufortforLOL-Regular";
    src: url("./fonts/BeaufortforLOL-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Univers";
    src: url("./fonts/UniversLTCYR-55Roman.otf") format("opentype");
}

@font-face {
    font-family: "Univers-Cond";
    src: url("./fonts/UniversLTCYR-59UltCond.otf") format("opentype");
}